<div class="container">
  <h1 class="centeredHeading">MY REQUESTS</h1>
  <div class="requestContainer">
    <div class="card">
      <div class="card-body">
        <div class="row eventDetails eventName">
          <div class="col">
            <h2>Ramesh weds Harshita</h2>
          </div>
        </div>
        <div class="row eventDetails">
          <div class="col">
            <h5>Requested on</h5>
            23/04/18
          </div>
          <div class="col">
            <h5>Event date</h5>
            25/08/18
          </div>
        </div>

        <hr>

        <div class="responsesContainer row">
          <div class="col-4">
            <div class="row centerText">
              <div class="col">
                <h4>Accepted by</h4>

              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="photographer">
                  <div class="row">
                    <div class="col-1">
                      <img class="profilePictureSmall" src="https://randomuser.me/api/portraits/men/9.jpg" alt="">
                    </div>
                    <div class="col-6 photgrapherDetails">
                      Rajesh Photography
                    </div>
                    <div class="col-5">
                      &#9733;&#9733;&#9733;&#9733;&#9734;
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      ₹2,50,000 per day
                    </div>
                  </div>

                  <div class="row paddingTop">
                    <div class="col">
                      <button type="button" class="btn btn-dark  btn-sm btn-block">Contact</button>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-danger  btn-sm btn-block">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="photographer">
                  <div class="row">
                    <div class="col-1">
                      <img class="profilePictureSmall" src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
                    </div>
                    <div class="col-6 photgrapherDetails">
                      Ramesh Photography
                    </div>
                    <div class="col-5">
                      &#9733;&#9733;&#9733;&#9733;&#9734;
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      ₹50,000 per day
                    </div>
                  </div>

                  <div class="row paddingTop">
                    <div class="col">
                      <button type="button" class="btn btn-dark  btn-sm btn-block">Contact</button>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-danger  btn-sm btn-block">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="photographer">
                  <div class="row">
                    <div class="col-1">
                      <img class="profilePictureSmall" src="https://randomuser.me/api/portraits/men/11.jpg" alt="">
                    </div>
                    <div class="col-6 photgrapherDetails">
                      Hitesh Photography
                    </div>
                    <div class="col-5">
                      &#9733;&#9733;&#9733;&#9734;&#9734;
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      ₹1,75,000 per day
                    </div>
                  </div>

                  <div class="row paddingTop">
                    <div class="col">
                      <button type="button" class="btn btn-dark  btn-sm btn-block">Contact</button>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-danger  btn-sm btn-block">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-4">
            <div class="row centerText">
              <div class="col">
                <h4>Rejected by</h4>

              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="photographer">
                  <div class="row">
                    <div class="col-1">
                      <img class="profilePictureSmall" src="https://randomuser.me/api/portraits/men/11.jpg" alt="">
                    </div>
                    <div class="col-6 photgrapherDetails">
                      Abc Studios
                    </div>
                    <div class="col-5">
                      &#9733;&#9733;&#9733;&#9733;&#9734;
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-4">
            <div class="row centerText">
              <div class="col">
                <h4>Waiting for response</h4>

              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="photographer">
                  <div class="row">
                    <div class="col-1">
                      <img class="profilePictureSmall" src="https://randomuser.me/api/portraits/men/11.jpg" alt="">
                    </div>
                    <div class="col-6 photgrapherDetails">
                      XYZ Photography
                    </div>
                    <div class="col-5">
                      &#9733;&#9733;&#9733;&#9733;&#9734;
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      ₹1,50,000 per day
                    </div>
                  </div>

                  <div class="row paddingTop">
                    <div class="col">
                      <button type="button" class="btn btn-danger  btn-sm btn-block">Cancel Request</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row largePaddingTop">
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-lg btn-block ">Confirm and prioritize</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
