.requestContainer {
  padding-top: 10px;
}

.colorfulBar {
  height: 5px;
  width: 100%;
  background-color: red;
}

.responsesContainer {
  padding-top: 5px;
}

.profilePictureSmall {
  height: 20px;
  border-radius: 20px;
  margin: auto;
}
.col-2, .col-5, .col-6, .col-1 {
  /* margin: auto; */
  /* padding: 0; */
}

.photgrapherDetails {
  font-size: 17px;
}

.paddingTop {
  padding-top: 5px;
}

.photographer {
  margin-top: 20px;
}
