.userName {
  text-align: center;
  color: black;
}
.side-bar {
  /* position: fixed;
  z-index: -1; */
}
.userPageContent {
  height: 100%;
  width: 100%;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.notEditing {
  width: 100% !important;
}
