<div class="row userPageContent">
  <div class="col-lg-3 col-md-4">
    <div class="side-bar">

      <div class="userDetails" *ngIf = "listItemSelection != 0">
        <div class="row side-bar-component">
          <div class="col">
            <img class="profilePictureLarge" src="https://scontent.fdel1-4.fna.fbcdn.net/v/t31.0-8/14853208_10210493539157334_1177685750275250166_o.jpg?oh=647567e6277f75aa582e6f5e5590a1b9&oe=5AD883C4" alt="">
          </div>
        </div>

        <div class="row side-bar-component">
          <div class="col">
            <h3 class="userName">Shlok Kapoor</h3>
            <h5 class="userName">+91-8447493838</h5>
            <h6 class="userName">shlok.kapoor97@gmail.com</h6>
          </div>
        </div>
      </div>


      <div class="list-group side-bar-component">

        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': listItemSelection == 0}" (click)="listClick($event, 0)">Update Profile</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': listItemSelection == 1}" (click)="listClick($event, 1)">Shortlists</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': listItemSelection == 2}" (click)="listClick($event, 2)">Requests</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': listItemSelection == 3}" (click)="listClick($event, 3)">Upcoming Bookings</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': listItemSelection == 4}" (click)="listClick($event, 4)">Previous Bookings</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': listItemSelection == 5}" (click)="listClick($event, 5)">Payment Methods</button>
      </div>

    </div>
  </div>

  <div class="col">
    <app-update-profile *ngIf="listItemSelection == 0"> </app-update-profile>
    <app-requests-page *ngIf="listItemSelection == 2"> </app-requests-page>
    <app-upcoming-bookings-page *ngIf="listItemSelection == 3"> </app-upcoming-bookings-page>
    <app-previous-bookings-page *ngIf="listItemSelection == 4"> </app-previous-bookings-page>
    <app-shortlist-page *ngIf="listItemSelection == 1"> </app-shortlist-page>
  </div>
</div>
