<div class="container">
  <div class="card" *ngFor="let photographer of data">
    <img class="card-img-top" src="https://source.unsplash.com/800x100" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{photographer.name}}</h4>
      <p class="card-text">{{photographer.experience}}</p>
      <p class="card-text">Approximate rate: {{photographer.rate}}/hour</p>
      <p class="card-text">{{photographer.teamSize}} photographers</p>
      <a href="#" class="btn btn-primary">Portfolio</a>
      <a href="#" class="btn btn-primary">Chat and get quote</a>
    </div>
  </div>
</div>
