.paddingText {
  padding: 5px;
}
.existingShortlist {
  padding: 10px;
  border: 1px solid #00000075;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #00000005;
}
.col-sm-12 {
  padding-top: 10px;
}
