<div class="container" *ngIf="!isCreatingShortlist">
  <button type="button" name="button" class = "btn btn-outline-primary btn-block" (click)="createShortlist()">Create a new shortlist</button>

  <div class="existingShortlist">
    <h6 class="centerText paddingText">ADD TO AN EXISTING SHORTLIST</h6>
    <div class="row">
      <div class="col-lg col-sm-12">
        <button type="button" name="button" class = "btn btn-outline-primary btn-block">Shortlist A</button>
      </div>
      <div class="col-lg col-sm-12">
        <button type="button" name="button" class = "btn btn-outline-primary btn-block">Shortlist B</button>
      </div>
      <div class="col-lg col-sm-12">
        <button type="button" name="button" class = "btn btn-outline-primary btn-block">Shortlist C</button>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isCreatingShortlist">
  <app-create-shortlist>
  </app-create-shortlist>
</div>
