<div style = "padding-top: 25px;">
  <div class="card">
    <div class="card-body">

      <h3>{{category.categoryName}}</h3>

      <div *ngIf = "category.id == 0">
        <input type="text" class="form-control" placeholder="Wedding name">
        <br>
        <input type="text" class="form-control" placeholder="Number of guests">
        <br>
        <input type="text" class="form-control" placeholder="Wedding dates">
        <br>
        <input type="text" class="form-control" placeholder="Venue">
        <br>
      </div>

      <div *ngIf = "category.id == 1">
        <input type="text" class="form-control" placeholder="Magazine name">
        <br>
        <input type="text" class="form-control" placeholder="Number of readers">
        <br>
      </div>

      <div *ngIf = "category.id == 2">
        <input type="text" class="form-control" placeholder="Product name">
        <br>
        <input type="text" class="form-control" placeholder="Company name">
        <br>
      </div>

      <div *ngIf = "category.id == 3">
        <input type="text" class="form-control" placeholder="Event name">
        <br>
        <input type="text" class="form-control" placeholder="Event date">
        <br>
        <input type="text" class="form-control" placeholder="Event type">
        <br>
        <input type="text" class="form-control" placeholder="Event venue">
        <br>
      </div>

      <div *ngIf = "category.id == 4">
        <input type="text" class="form-control" placeholder="Model name">
        <br>
        <input type="text" class="form-control" placeholder="Contact number of model">
        <br>
      </div>


      <div class="form-group">

        <select class="form-control" id="exampleSelect1">
          <option>Instant</option>
          <option>In advance</option>
        </select>

        <br>

        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Beginner</span>
        </label>

        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Intermediate</span>
        </label>

        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Experienced</span>
        </label>

        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Professional</span>
        </label>

        <br>
        
        <select class="form-control">
          <option>One Time</option>
          <option>Contract</option>
        </select>

        <br>

      </div>


      <div class="row">
        <div class="col-2">
          <button class="btn btn-primary">REQUEST</button>
        </div>

        <div class="col-4">
          <button class="btn btn-primary" (click) = "backButtonTapped()">GO BACK</button>
        </div>

      </div>


    </div>
  </div>
</div>
