<div class="container">
  <h1 class="centeredHeading">SHORTLISTS</h1>
  <div class="bookingsContainer">
    <div class="card">
      <div class="card-body">
        <div class="row eventDetails eventName">
          <div class="col">
            <h2>Ramesh weds Harshita</h2>
          </div>
        </div>
        <div class="row eventDetails">
          <div class="col">
            <h5>Requested on</h5>
            23/04/18
          </div>
          <div class="col">
            <h5>Event date</h5>
            25/08/18
          </div>
          <div class="col">
            <h5>Event duration</h5>
            3 days
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col">
            <div class="photographerResultLarge">
              <div class="row photographerDetailsLarge">
                <div class="col-2">
                  <img class="profilePictureMedium" src="https://randomuser.me/api/portraits/men/9.jpg" alt="">
                </div>
                <div class="col-5">
                  Rajesh Photography
                </div>
                <div class="col-5">
                  &#9733;&#9733;&#9733;&#9733;&#9734;
                </div>
              </div>
              <div class="row">
                <div class="col gridImage">
                  <img class="centerImage fullWidth" src="https://picsum.photos/250/200?image=10" alt="">
                </div>
                <div class="col gridImage">
                  <img class="centerImage fullWidth" src="https://picsum.photos/250/200?image=12" alt="">
                </div>
                <div class="col gridImage">
                  <img class="centerImage fullWidth" src="https://picsum.photos/250/200?image=13" alt="">
                </div>
              </div>

              <p class="cost">₹1,75,000 per day <br> TOTAL COST: ₹1,75,000 x 3 = ₹5,25,000</p>
              <button type="button" class="btn btn-primary btn-md btn-block ">Contact</button>
              <button type="button" class="btn btn-danger btn-md btn-block ">Remove</button>
            </div>

            <div class="photographerResultLarge">
              <div class="row photographerDetailsLarge">
                <div class="col-2">
                  <img class="profilePictureMedium" src="https://randomuser.me/api/portraits/men/19.jpg" alt="">
                </div>
                <div class="col-5">
                   Photo Tantra
                </div>
                <div class="col-5">
                  &#9733;&#9733;&#9733;&#9734;&#9734;
                </div>
              </div>
              <div class="row">
                <div class="col gridImage">
                  <img class="centerImage fullWidth" src="https://picsum.photos/250/200?image=20" alt="">
                </div>
                <div class="col gridImage">
                  <img class="centerImage fullWidth" src="https://picsum.photos/250/200?image=22" alt="">
                </div>
                <div class="col gridImage">
                  <img class="centerImage fullWidth" src="https://picsum.photos/250/200?image=23" alt="">
                </div>
              </div>

              <p class="cost">₹1,75,000 per day <br> TOTAL COST: ₹1,75,000 x 3 = ₹5,25,000</p>
              <button type="button" class="btn btn-primary btn-md btn-block ">Contact</button>
              <button type="button" class="btn btn-danger btn-md btn-block ">Remove</button>
            </div>
          </div>
        </div>

        <div class="row largePaddingTop">
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-lg btn-block ">Request All</button>
            <button type="button" class="btn btn-outline-dark btn-lg btn-block ">Delete shortlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
