<div class="container" *ngIf = "!isCategoryIdSelected">
  <div class="row" *ngFor = "let category of categoriesData">
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/random/900x200" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{category.categoryName}}</h4>
          <button class="btn btn-primary" (click) = "categorySelected(category.id)">SEARCH</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf = "isCategoryIdSelected">
  <app-category (onBackTapped) = "categoryDeselected()" [category]="category"></app-category>
</div>
