<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Picuria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/user">User</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/notifications">Notifications</a>
      </li>

    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

<div class="footer">
  <div class="row">
    <div class="col">
      <p class="lead">
        Picuria
      </p>
    </div>
    <div class="col">
      <p class="lead">
        Copyright © Shlok Kapoor
      </p>
    </div>
    <div class="col">
      <p class="lead">
        Picuria
      </p>
    </div>
  </div>
</div>
