<div class="row" *ngIf="!isCategorySelected">
  <div class="col">
    <h6>SELECT A CATEGORY</h6>
    <button type="button" name="button" class="btn btn-outline-dark btn-block" (click)="selectCategory(0)">WEDDING</button>
    <button type="button" name="button" class="btn btn-outline-dark btn-block">RESTAURANT</button>
    <button type="button" name="button" class="btn btn-outline-dark btn-block">EVENT</button>
    <button type="button" name="button" class="btn btn-outline-dark btn-block">PERSONAL PHOTOSHOOT</button>
    <button type="button" name="button" class="btn btn-outline-dark btn-block">PARTY</button>
    <button type="button" name="button" class="btn btn-outline-dark btn-block">INTERIOR DESIGN</button>
  </div>
</div>

<div class="row" *ngIf="isCategorySelected">
  <div class="col">

    <div class="row side-bar-component">
      <div class="col">
        Event name<br>
        <input class="form-control" type="text" placeholder="Enter title">
      </div>
    </div>

    <div class="row side-bar-component">
      <div class="col">
        Enter Budget <br>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            1000-15000
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row side-bar-component">
      <div class="col">
        Enter Wedding Location <br>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Delhi NCR
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row side-bar-component">
      <div class="col">
        Payment Mode <br>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PayTM
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row side-bar-component">
      <div class="col">
        Contact details<br>
        <input class="form-control" type="text" placeholder="+919999112245">
      </div>
    </div>

    <div class="row side-bar-component">
      <div class="col">
        Wedding Venue<br>
        <input class="form-control" type="text" placeholder="Enter venue">
      </div>
    </div>

    <div class="row side-bar-component">
      <div class="col">
        Duration<br>
        <input class="form-control" type="text" placeholder="Enter duration">
      </div>
    </div>

    <div class="row side-bar-component">
      <div class="col">
        Wedding date<br>
        <my-date-picker name="mydate" [options]="myDatePickerOptions"
                        required></my-date-picker>
      </div>

    </div>
    <div class="row side-bar-component">
      <button type="button" name="button" class="btn btn-block btn-outline-dark">CREATE AND ADD</button>
    </div>
  </div>
</div>
