.photographerNameLarge {
  margin: 25px;
}
.costEstimate, .servicesOffered {
  margin: 25px;
}
.actions {
  padding: 30px;
}
.portfolioImage {
  padding-top: 20px;
  padding-bottom: 20px;
}
.customContainer {
  padding: 50px;
  width: 100%;
}
.photographerPortfolio {
  background-color: #E3E3E320;
  padding: 30px;
  border: 1px solid #F5F5F5
}
.centerImage {
  width: 100%;
}
