<div class="row">
  <div class="col">
    <img class="fullWidth centerImage"src="https://picsum.photos/1250/200?image=50" alt="">
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-5">
    <div class="side-bar">
      <app-choose-shortlist> </app-choose-shortlist>
    </div>
  </div>

  <div class="col">
    <div class="customContainer">

      <div class="photographerPortfolio">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-sm-4 col-md-3 col-lg-2">
                <img class="profilePictureLarge centerImage" src="https://randomuser.me/api/portraits/men/39.jpg" alt="">
              </div>
              <div class="col-7">
                <!-- PhotographerDetails -->
                <div class="photographerNameLarge">
                  <h2>Delhi Photography Services</h2>
                  <p>&#9733;&#9733;&#9733;&#9734;&#9734; <br>439 Ratings <br>Green Park, New Delhi</p>

                </div>
              </div>
              <div class="col">
                <div class="actions">
                  <button type="button" class="btn btn-outline-primary btn-md btn-block ">Contanct</button>
                  <button type="button" class="btn btn-outline-primary btn-md btn-block ">Visit Website</button>
                  <button type="button" class="btn btn-outline-primary btn-md btn-block ">Location</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p>Monks In Happiness is a boutique photography and cinematography firm focussing on Weddings, Corporates and Large Scale Events. A pan India presence boosted by an expert team of photographers & videographers, Monks In Happiness aims to create visual delight by capturing the moments in a manner that is befitting the same. So be it a happy tear of a bride to be, the ecstatic sound of a cymbal in a concert or a testimonial film about the strength of the design process of a UI / UX firm, the Monks bring immense research, shooting and editing expertise and joy to the entire process.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-5 costEstimate">
                <h6>COST ESTIMATE</h6>
                <div class="row">
                  <div class="col">
                    <img class="smallIcon" src="https://camo.githubusercontent.com/9e248cfbf3f9f3b5b5d944bbbd2ba4769f50358d/687474703a2f2f692e696d6775722e636f6d2f384c61655a634e2e706e67" alt="">
                    <img class="smallIcon" src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/add-128.png" alt="">
                    <img class="smallIcon" src="https://image.freepik.com/free-icon/video-camera_318-50337.jpg" alt="">
                  </div>
                  <div class="col">
                    ₹1,00,000 per day
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <img class="smallIcon" src="https://camo.githubusercontent.com/9e248cfbf3f9f3b5b5d944bbbd2ba4769f50358d/687474703a2f2f692e696d6775722e636f6d2f384c61655a634e2e706e67" alt="">
                  </div>
                  <div class="col">
                    ₹1,50,000 per day
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <img class="smallIcon" src="https://image.freepik.com/free-icon/video-camera_318-50337.jpg" alt="">
                  </div>
                  <div class="col">
                    ₹50,000 per day
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="servicesOffered">
                  <h6>SERVICES OFFERED</h6>
                  <ul>
                    <li>Wedding photoshoots</li>
                    <li>Personal photoshoots</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col">
            <h6>OUR FAVORITE PHOTOS</h6>
            <div class="row">
              <div class="col-md-3 col-sm-6  portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=100" alt="">
              </div>
              <div class="col-md-3 col-sm-6  portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=101" alt="">
              </div>
              <div class="col-md-3 col-sm-6  portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=102" alt="">
              </div>
              <div class="col-md-3 col-sm-6  portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=104" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6  portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=104" alt="">
              </div>
              <div class="col-md-3 col-sm-6  portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=108" alt="">
              </div>
              <div class="col-md-3 col-sm-6  portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=106" alt="">
              </div>
              <div class="col-md-3 col-sm-6  portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=104" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=114" alt="">
              </div>
              <div class="col portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=118" alt="">
              </div>
              <div class="col portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=116" alt="">
              </div>
              <div class="col portfolioImage">
                <img class="centerImage" src="https://picsum.photos/250/250?image=126" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
