<div class="jumbotron">
  <div class="row">
    <img class="round" src="https://source.unsplash.com/random/100x100" alt="">
    <h1 class="display-3">Shlok Kapoor</h1>
  </div>
  <h3 class="display-4">+91 84474938383</h3>
  <p class="lead">shlok.kapoor97@gmail.com</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Edit Profile</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/random/300x100" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"> My Requests</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/random/300x100" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Previous Bookings</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
