<div class="container">
  <h1 class="centeredHeading">PREVIOUS BOOKINGS</h1>
  <div class="bookingsContainer">
    <div class="card">
      <div class="card-body">
        <div class="row eventDetails eventName">
          <div class="col">
            <h2>Ramesh weds Harshita</h2>
          </div>
        </div>
        <div class="row eventDetails">
          <div class="col">
            <h5>Requested on</h5>
            23/04/18
          </div>
          <div class="col">
            <h5>Event date</h5>
            25/08/18
          </div>
          <div class="col">
            <h5>Event duration</h5>
            3 days
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="photographerResultLarge col">
            <div class="row photographerDetailsLarge">
              <div class="col-2">
                <img class="profilePictureMedium" src="https://randomuser.me/api/portraits/men/9.jpg" alt="">
              </div>
              <div class="col">
                Rajesh Photography
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary btn-md btn-block">Contact</button>
              </div>
            </div>

            <div class="row bookingProgress">
              <div class="col-2">

              </div>
              <div class="col">

                <div class="row">
                  <div class="col progress">
                    <p style="width: 100%">CLICKED</p>

                  </div>
                  <div class="col progress">
                    <p style="width: 100%">EDITED</p>

                  </div>
                  <div class="col progress">
                    <p style="width: 100%">DELIVERED</p>

                  </div>
                  <div class="col progress">
                    <p style="width: 100%">PAYMENT</p>

                  </div>
                </div>

                <div class="row">
                  <div class="col progressImage complete">

                  </div>
                  <div class="col progressImage">

                  </div>
                  <div class="col progressImage">

                  </div>
                  <div class="col progressImage">

                  </div>
                </div>



              </div>
              <div class="col-2">

              </div>
            </div>

            <div class="row">
              <div class="col ratePhotographer">
                <div class="col">
                  <h6>RATE RAJESH</h6>
                  &#9734;&#9734;&#9734;&#9734;&#9734;
                </div>
              </div>
              <div class="col receipt">
                <p class="cost">COST PER DAY: ₹1,75,000 <br> DURATION: 3 days <br> GST(8%): 42,000 </p>
                <h6>TOTAL COST</h6>
                <h4>₹5,67,000</h4>
              </div>
            </div>



          </div>

        </div>


        <div class="row largePaddingTop">
          <div class="col">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block ">Get Pictures</button>
            <button type="button" class="btn btn-outline-danger btn-lg btn-block ">Make Payment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
