.ratePhotographer {
  text-align: center;
  font-size: 50px;
}
.receipt {

}
.complete {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/675773-200.png') !important;
}
.progressImage {
  background-image: url('http://www.iconninja.com/files/190/547/620/circle-icon.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 150px;
  width:20%;
  margin: auto;
}
.bookingProgress {
  padding: 25px;
  margin: 15px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.progress {
  text-align: center !important;
  background-color: white;
  margin-bottom: 1px;
}
