/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Dosis');
body {
   padding-top: 50px;
   font-family: 'Dosis', sans-serif;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.topContainer {
  background-image: url('https://source.unsplash.com/random/1900x400');
  width: 100%;
  height: 400px;
}
.captionText {
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: white;
  position: relative;
  top: 20%;
}
.side-bar {
  color: #00000070;
  padding: 50px;
  background-color: #f3f3f329;
  border-right-color: #F5F5F5;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}
.side-bar-component {
  margin-bottom: 10px;
}
.centeredHeading {
  width: 100%;
  text-align: center;
}
.centerText, .eventDetails {
  text-align: center !important;
}
.largePaddingTop {
  padding-top: 15px;
}
.eventName {
  padding: 10px;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.bookingsContainer {
  padding-top: 10px;
}
.profilePictureMedium {
  height: 50px;
  border-radius: 25px;
  /* position: relative;
  left: 40%; */
}
.photographerResultLarge {
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.photographerDetailsLarge {
  font-size: 30px;
  padding: 10px;
}
.profilePictureLarge {
  width: 100%;
  padding: 10px;
  border-radius: 50%;
}
.smallIcon {
  height: 20px;
}
.gridImage {
  padding: 10px;
  width: 25% !important;
}
.centerImage {
  display: block;
  margin: 0 auto;
}
a {
  color: black;
}
a:hover {
  color: #00000099;
  text-decoration: none;
}
.fullWidth {
  width: 100%;
}
