<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to Picuria</h1>
    <p class="lead">Connect with photographers<br>anytime and anywhere</p>
  </div>
</div>

<div class="container">
  <app-categories> </app-categories>
</div> -->
<div class="topContainer">
  <div class="captionText">
    <p>YOUR WORLD<br>OUR LENS</p>
    <button type="button" class="btn btn-dark">BECOME A PHOTOGRAPHER</button>
  </div>
</div>

<div class="categories">
  <div class="row">
    <div class="col-7 rowElement">
      <div class="category" id="wedding" (mouseenter) = "toggleCategory(0)" (mouseleave) = "toggleCategory(0)" (click)="redirect()">
        <div class="darkBox" *ngIf="currentCategory == 0">
          WEDDING
        </div>
      </div>
    </div>
    <div class="col-5 rowElement">
      <div class="category" id="restaurant" (mouseenter) = "toggleCategory(5)" (mouseleave) = "toggleCategory(5)">
        <div class="darkBox" *ngIf="currentCategory == 5">
          RESTAURANT
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 rowElement">
      <div class="category" id="event" (mouseenter) = "toggleCategory(1)" (mouseleave) = "toggleCategory(1)">
        <div class="darkBox" *ngIf="currentCategory == 1">
          EVENT
        </div>
      </div>
    </div>
    <div class="col-8 rowElement">
      <div class="category" id="personalPhotoshoot" (mouseenter) = "toggleCategory(2)" (mouseleave) = "toggleCategory(2)">
        <div class="darkBox" *ngIf="currentCategory == 2">
          PERSONAL PHOTOSHOOT
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 rowElement">
      <div class="category" id="partyPhotoshoot" (mouseenter) = "toggleCategory(3)" (mouseleave) = "toggleCategory(3)">
        <div class="darkBox" *ngIf="currentCategory == 3">
          FAMILY PARTY
        </div>
      </div>
    </div>
    <div class="col-7 rowElement">
      <div class="category" id="interiorDesignPhotography" (mouseenter) = "toggleCategory(4)" (mouseleave) = "toggleCategory(4)">
        <div class="darkBox" *ngIf="currentCategory == 4">
          INTERIORS
        </div>
      </div>
    </div>
  </div>
</div>
