.categories {
  width: 100%;
  padding: 50px;
}
.categories .row {
  height: 400px;
}
.category {
  margin: 1px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
}
.rowElement {
  padding: 2px !important;
}
.darkBox {
  height: 100%;
  width: 100%;
  background-color: #00000030;
  line-height: 400px;
  color: white;
  text-align: center;
  font-size: 40px;
}

#wedding {
  background-image: url('http://d3mc4rgymlk5nh.cloudfront.net/wp-content/uploads/2018/01/78-2.jpg');
}
#restaurant {
  background-image: url('https://static.pexels.com/photos/461198/pexels-photo-461198.jpeg');
}
#event {
  background-image: url('https://www.davidmyersphotography.com/wp-content/uploads/2015/04/brighton-bassist-photographer.jpg');
}
#personalPhotoshoot {
  background-image: url('https://i.ytimg.com/vi/WUMlEUQIw4Y/maxresdefault.jpg');
}
#partyPhotoshoot {
  background-image: url('https://i.pinimg.com/originals/05/0b/c0/050bc00547b6378d3dd3c3139a7b9a6e.jpg');
}
#interiorDesignPhotography {
  background-image: url('https://www.billielourd.org/wp-content/uploads/2017/06/london-camel-leather-sofa-with-transitional-accent-and-garden-stools-family-room-contemporary-spacious-living-gold-side-table.jpg');
}
