<div class="container">
  <div class="row">
    <div class="col">
      <img class="profilePictureLarge centerImage" src="https://scontent.fdel1-4.fna.fbcdn.net/v/t31.0-8/14853208_10210493539157334_1177685750275250166_o.jpg?oh=647567e6277f75aa582e6f5e5590a1b9&oe=5AD883C4" alt="">
    </div>
  </div>

  <div class="editProfile">
    <div class="row detail">
      <div class="notEditing col" *ngIf="!isEditing[0]">
        <div class="row">
          <div class="col-10">
            Shlok Kapoor
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-sm btn-block centerImage" (click)="toggleEdit(0)">Edit Name</button>
          </div>
        </div>

      </div>

      <div class="editing col" *ngIf="isEditing[0]">
        <div class="row">
          <div class="col-10">
            <input class="form-control" type="text" placeholder="Shlok Kapoor">
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-md btn-block centerImage" (click)="toggleEdit(0)">Done</button>
          </div>
        </div>

      </div>
    </div>

    <div class="row detail">
      <div class="notEditing col" *ngIf="isEditing[1] == false">
        <div class="row">
          <div class="col-10">
            shlok.kapoor97@gmail.com
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-sm btn-block centerImage" (click)="toggleEdit(1)">Edit E-mail</button>
          </div>
        </div>

      </div>

      <div class="editing col" *ngIf="isEditing[1]">
        <div class="row">
          <div class="col-10">
            <input class="form-control" type="text" placeholder="shlok.kapoor97@gmail.com">
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-md btn-block centerImage" (click)="toggleEdit(1)">Done</button>
          </div>
        </div>

      </div>

    </div>

    <div class="row detail">

      <div class="notEditing col" *ngIf="isEditing[2] == false">
        <div class="row">
          <div class="col-10">
            •••••••••
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-sm btn-block centerImage" (click)="toggleEdit(2)">Edit Password</button>
          </div>
        </div>

      </div>

      <div class="editing col" *ngIf="isEditing[2]">
        <div class="row">
          <div class="col-5">
            <input class="form-control" type="password" placeholder="Enter old password">
          </div>
          <div class="col-5">
            <input class="form-control" type="password" placeholder="Enter new password">
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-md btn-block centerImage" (click)="toggleEdit(2)">Done</button>
          </div>
        </div>

      </div>

    </div>

    <div class="row detail">
      <div class="notEditing col" *ngIf="isEditing[3] == false">
        <div class="row">
          <div class="col-10">
            +91-8447493838
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-sm btn-block centerImage" (click)="toggleEdit(3)">Edit Number</button>
          </div>
        </div>
      </div>

      <div class="editing col" *ngIf="isEditing[3]">
        <div class="row">
          <div class="col-10">
            <input class="form-control" type="text" placeholder="+91-8447493838">
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-md btn-block centerImage" (click)="toggleEdit(3)">Done</button>
          </div>
        </div>

      </div>

    </div>
  </div>


</div>
