.container {
  padding-top: 50px;
  background-color: #f3f3f329;
}
.profilePictureLarge {
  height: 150px;
  width: 150px;
  cursor:url('http://s13.postimg.org/nziz57hab/cursor.png'), auto;
}
.editProfile {
  font-size: 20px;
}
.detail {
  padding: 10px;
}
.editing {
  background-color: #E3E3E320;
  padding: 30px;
  border: 1px solid #F5F5F5
}
