.topContainer {
  height: 200px;
}
.captionText {
  top: 10%;
}
.col, .col-lg-3, .col-md-5, .col-sm-6 {
  padding: 0px;
}
.photographerResult {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
}
.photographerImage {
  height: 30px;
}
.gridImage {
  padding: 2px;
  width: 20% !important;
}
.resultSection {
  padding-bottom: 10px;
}
.fullWidth {
  width: 100% !important;
}
.centerImage {
  width: 100%;
}
.shortlistButtons {

}
.shortlistButton {
  margin-bottom: 10px;
  margin-top: 10px;
}
