<!-- <div class="list-group side-bar">
  <button type="button" class="list-group-item list-group-item-action active">
    Cras justo odio
  </button>
  <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
  <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
  <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
</div> -->
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-5">
    <div class="side-bar">
      <div class="row side-bar-component">
        <h3>FILTER RESULTS</h3>
      </div>

      <div class="row side-bar-component">
        <div class="col">
          Enter Budget <br>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              1000-15000
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row side-bar-component">
        <div class="col">
          Enter Wedding Location <br>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Delhi NCR
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row side-bar-component">
        <div class="col">
          Payment Mode <br>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PayTM
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row side-bar-component">
        <div class="col">
          Sort By <br>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Popularity
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col">
      <div class="topContainer">
        <div class="captionText">
          <p>YOUR WORLD<br>OUR LENS</p>
        </div>
      </div>

    <div class="row">
      <div class="container resultSection">
        <div class="photographerResult">
          <div class="card">
            <h5 class="card-header">OUR RECOMMENDATION</h5>
            <div class="card-body">

              <div class="row photographerDetailsLarge">
                <div class="col-md-2">
                  <img class="profilePictureMedium" src="https://randomuser.me/api/portraits/men/9.jpg" alt="">
                </div>
                <div class="col-md-5">
                  <a target="_blank" routerLink="../photographer">Rajesh Photography</a>
                </div>
                <div class="col-md-5">
                  &#9733;&#9733;&#9733;&#9733;&#9734;
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col gridImage">
                    <img class="centerImage" src="https://picsum.photos/250/200?image=10" alt="">
                  </div>
                  <div class="col gridImage">
                    <img class="centerImage" src="https://picsum.photos/250/200?image=12" alt="">
                  </div>
                  <div class="col gridImage">
                    <img class="centerImage" src="https://picsum.photos/250/200?image=13" alt="">
                  </div>
                </div>
              </div>

              <p class="card-text">Starting at ₹5000 per day</p>

              <div class="container">
                <app-choose-shortlist></app-choose-shortlist>
              </div>

            </div>
          </div>
        </div>

        <div class="photographerResult">
          <div class="card">
            <div class="card-body">

              <div class="row photographerDetailsLarge">
                <div class="col-md-2">
                  <img class="profilePictureMedium" src="https://randomuser.me/api/portraits/men/9.jpg" alt="">
                </div>
                <div class="col-md-5">
                  <a target="_blank" routerLink="../photographer">Photo Hut</a>
                </div>
                <div class="col-md-5">
                  &#9733;&#9733;&#9733;&#9733;&#9734;
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col gridImage">
                    <img class="centerImage" src="https://picsum.photos/250/200?image=20" alt="">
                  </div>
                  <div class="col gridImage">
                    <img class="centerImage" src="https://picsum.photos/250/200?image=32" alt="">
                  </div>
                  <div class="col gridImage">
                    <img class="centerImage" src="https://picsum.photos/250/200?image=43" alt="">
                  </div>
                </div>
              </div>

              <p class="card-text">Starting at ₹5000 per day</p>

              <div class="container">
                <app-choose-shortlist></app-choose-shortlist>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
